.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem 8rem 8rem 8rem;
    font-size: 1.5rem;
}
.container p{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin-top: 2rem;
    text-align: center;
}