.instructionContainer-1{
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}
.instructionContainer-2{
    display: flex;
    padding: 4rem;
    align-items: center;
    gap: 10rem;
}
.instContent{
    display: flex;
    flex-direction: column;  
    gap: 3rem;
}
.instContent h1{
    font-size: 5rem;
}
.instContent p{
    width: 80%;
    font-size: 1.3rem;
    color: #808080;
}
.instContent input{
    width: 8rem;
    height: 3rem;
    border-radius: .5rem;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.817);
}